<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

 
  <targets>
    <target xsi:type="File" name="allfile" fileName="C:\Users\jjmar\Desktop\Repository\ASPNETCore\Log\ClinicAPI\nlog-AspNetCore-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="exceptions" fileName="C:\Users\jjmar\Desktop\Repository\ASPNETCore\Log\ClinicAPI\nlog-AspNetCore-all-exceptions-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" /> 
    
    <target xsi:type="File" name="informations" fileName="C:\Users\jjmar\Desktop\Repository\ASPNETCore\Log\ClinicAPI\nlog-AspNetCore-all-informations-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
    
  </targets>

  
  <rules>
    <logger name="ApplicationClinicAPI.*" minlevel="Trace" writeTo="allfile" />
    <logger name="ApplicationClinicAPI.*" minlevel="Error" writeTo="exceptions" />
    <logger name="ApplicationClinicApi.*" minlevel="Info" maxlevel="Info"  writeTo="informations" />
    
  </rules>
</nlog>